# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
NEXT_PUBLIC_SUPPORT_EMAIL=

# 42 School OAuth Credentials
FORTYTWO_CLIENT_ID=
FORTYTWO_CLIENT_SECRET=

# Riot Games Credentials
RIOT_API_KEY=

# DDragon (Data Dragon) CDN version for profile icons & champion images
NEXT_PUBLIC_DDRAGON_VERSION=16.5.1

# Azure Credentials
AZURE_STORAGE_CONNECTION_STRING=
NEXT_PUBLIC_CDN_URL=
# Azure Credentials for content safety
CONTENT_SAFETY_ENDPOINT=
CONTENT_SAFETY_KEY=
# Azure Credentials for content moderation
VISION_ENDPOINT=
VISION_KEY=

# Upstash Redis Credentials
UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=
